* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

/* input[type='text'] {
  width: 20.4rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
  background: none;
  font-family: inherit;
  color: #9baacf;
}
input[type='text']::placeholder {
  color: #bec8e4;
}
input[type='text']:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
} */

button {
  padding: 8px 12px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 3px 3px 8px #8f8f8f, inset -3px -3px 8px #ffffff;
  transform: all 250ms linear;
}

button.change-color {
  width: 88px;
  height: 88px;
  border: none;
  background: linear-gradient(to right, #f12711, #f5af19);
}

button[data-create],
button[data-destroy] {
  width: 88px;
  height: 40px;
  border: 15px;
}

span {
  margin: 0 15px;
}

button:active {
  position: relative;
  top: 3px;
}

ul {
  list-style: none;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 80vw; */
  margin-top: 50px;
  flex-basis: calc((100% - 60px) / 3);
}

.gallery > li {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
  /* padding-bottom: 28%; */
  overflow: hidden;
  transition: all 250ms ease-in;
  transform: scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.gallery > li:not(:last-child) {
  margin-right: 10px;
}
.gallery > li:hover {
  z-index: 2;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  transition: all 250ms ease-in;
  transform: scale(1.4);
}

img {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-item {
  margin-bottom: 50px;
}

.main-link {
  /* 
  color: #61677c;
  font-weight: 600;
  font: inherit; */
  margin-bottom: 20px;
  text-decoration: none;

  max-width: 150px;
  padding: 8px 12px;

  border: 0;
  outline: 0;
  border-radius: 320px;

  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;

  font-size: 16px;
  font: inherit;
  font-weight: bold;

  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.main-link:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.main-link:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

input[type='range'] {
  background-color: transparent;
  border-radius: 0.75em;
  box-shadow: -0.1em -0.1em 0.1em #979baa inset, 0.1em 0.1em 0.1em #ffffff inset;
  cursor: pointer;
  transform: rotate(360deg);
  height: 1.5em;
  width: 10em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='range']:focus {
  outline: transparent;
}

span.abracadabra#text {
  font-size: 50px;
  text-align: center;
  color: #d5e1f0d0;
  filter: drop-shadow(3px 3px 2px #a3b1c6) drop-shadow(-3px -3px 2px #ffffff);
}

.login-form {
  margin: 0 auto;
  padding: 3rem;
  gap: 3rem;
  height: 600px;

  background-color: #232931;
  border-radius: 1.5rem;

  box-shadow: -10px -10px 10px #2a353c, 10px 10px 10px #1c1e27;

  background-color: transparent;
}

.login-form input {
  background-color: #232931;
  border-radius: 1.5rem;
  border: none;
  padding: 2rem 2.25rem;
  height: 58px;
  font-family: inherit;
  font-size: 1.25rem;
  outline: none;
  color: #4ecca3;

  box-shadow: inset -5px -5px 12px #2a353c, inset 5px 5px 12px #1c1e27;
}

.login-form button {
  height: 58px;
  border: none;
  font-size: 1.25rem;
  color: #4ecca3;
  font-family: inherit;
  border-radius: 1.5rem;
  box-shadow: -5px -5px 15px #2a353c, 5px 5px 15px #1c1e27;
  background: transparent;
  transition: box-shadow 300ms ease;
  cursor: pointer;
  outline: none;
  align-self: flex-end;
}

.login-form button:hover {
  box-shadow: -10px -10px 12px #2a353c, 10px 10px 12px #1c1e27;
}

.login-form button:focus-within {
  box-shadow: inset -10px -10px 12px #2a353c, inset 10px 10px 12px #1c1e27;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

[type='number'] {
  margin-right: 20px;
}
[type='button'] {
  margin-right: 10px;
}

#font-size-control,
#validation-input,
#name-input {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#validation-input {
  padding: 16px;
  width: 250px;

  border: 0;
  outline: 0;
  border-radius: 32px;

  background-color: #ebecf0;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;

  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #f7751d;
  text-shadow: 1px 1px 0 #fff;
}
#validation-input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

#validation-input::placeholder {
  color: #000000;
}

#counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
#value {
  margin-right: 20px;
  margin-left: 10px;
}

h1,
#text,
#name-output {
  text-align: center;
  color: #babecc;
  text-shadow: 1px 1px 1px #fff;
}

.shadow {
  position: absolute;
  top: 3px;
  left: -35px;
  width: calc(100% + 34px);
  height: 300px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1),
    transparent,
    transparent
  );
  transform-origin: top;
  transform: skew(45deg);
  pointer-events: none;
}

.shadow::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 35px;
  background: #cfd1e1;
  z-index: 1;
}

.anonymous-box {
  position: relative;

  margin-right: auto;
  margin-left: auto;

  width: 160px;
  height: 40px;

  transition: 0.5s;
}

.anonymous-box:hover {
  width: 400px;
}

.anonymous-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #e3e3e3);
  z-index: 1;
  filter: blur(1px);
}

.anonymous-box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 0.8px;
  z-index: 1;

  width: 10px;
  height: 100%;
  background: #9d9d9d;

  filter: blur(1px);
}

.anonymous-box input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  outline: none;
  font-size: 1.1em;
  color: #555;
  background: linear-gradient(#dbdae1, #a3aaba);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px #fff;
}

.anonymous-box input::placeholder,
.anonymous-box input {
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
}

.anonymous-box:hover input::placeholder,
.anonymous-box:hover input {
  overflow: visible;
}

[type='number'] {
  border: none;
  outline: none;
  width: 100px;
  height: 54px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
}
