* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

input[type='text'] {
  width: 20.4rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
  background: none;
  font-family: inherit;
  color: #9baacf;
}
input[type='text']::placeholder {
  color: #bec8e4;
}
input[type='text']:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 3px 3px 8px #8f8f8f, inset -3px -3px 8px #ffffff;
  transform: all 250ms linear;
}

button.change-color {
  width: 88px;
  height: 88px;
  border: none;
  background: linear-gradient(to right, #f12711, #f5af19);
}

span {
  margin: 0 15px;
}

button:active {
  position: relative;
  top: 3px;
}

ul {
  list-style: none;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 80vw; */
  margin-top: 50px;
  flex-basis: calc((100% - 60px) / 3);
}

.gallery > li {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
  /* padding-bottom: 28%; */
  overflow: hidden;
  transition: all 250ms ease-in;
  transform: scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.gallery > li:not(:last-child) {
  margin-right: 10px;
}
.gallery > li:hover {
  z-index: 2;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  transition: all 250ms ease-in;
  transform: scale(1.4);
}

img {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
